<% include ../partials/boilerplate %>

  <div class="myForm">
    <div class="add">
      <form action="/todo" method="POST">
        <input type="text" name="title" placeholder="Title" />
        <input type="text" name="description" placeholder="description" />
        <input type="text" name="done" placeholder="completed T/F" />
        <input class="button" type="submit" value="Add it!" />
      </form>
    </div>

    <a href="/todo">Back to lists</a>

  </div>

<% include ../partials/end %>
