<% include ../partials/boilerplate %>
<div class="todo-container">
      <% todos.forEach(todo => { %>
      <div class="todo">
      <span>Title: <%= todo.title %></span><br>
      <span>Description: <%= todo.description %></span></br>
      <span>Completed:  <%= todo.done %></span></br>
      </div>
      <% }) %>
  </div>

<% include ../partials/end %>
